.montserrat {
    font-family: 'Montserrat';
}

.open_sans {
    font-family: 'Open Sans';
    font-weight: 700;
}

.background{
    justify-content:space-between;
    text-align: center;
    background-color:burlywood;
}



